input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* Exclusivo para la "card" de prioridad y personalizar */
/* Aqui ocurre el quiebre de la fila */
@media (max-width: 1214.99px) {
    /* Por alguna razon ocurre antes */
    #priorix {
        height: auto;
    }

}
@media (min-width: 1215px) {
    #priorix {
    
    height: 42rem;
    }
}

/* General */
body {
    min-height: 100vh;
    overflow: hidden;
}

.blur {
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    filter: blur(50px);
;
}

.non-approved {
    fill: white;
}

.bars {
    fill: grey;
}
.canvas {
}
.overlay-content {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 201; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    overflow-y: auto;

}


#content {
    overflow: hidden;
}

.overlay-content h5, .overlay-content h3 {
    filter: opacity(60%);
}

.overlay {
    position: fixed; /* Sit on top of the parent content*/
    /* display: none; Hidden by default */
    width: 100%;  /*Full width (cover the whole page)*/
    min-height: 100vh; /*Full height !*(cover the whole page)*/

    top: 0;
    left: 0;
    filter: opacity(20%);
    /*background-color: rgba(255,255,255,0.9);/* Black background with opacity */
    z-index: 200; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    overflow: auto; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


/* .sector:hover {
      filter: brightness(85%);
} */

/* 
#t1 {
    background-color: aqua;
}
#t1:hover {
    background-color: aquamarine;
} */

@media(prefers-color-scheme: dark) {

    rect.sem, g.sem rect {
        fill: #777777;
    }
    g.sem text {
        fill: white;
    }
   
    .non-approved {
        fill: #000;
    }
    .bars {
        fill: #404040;
    }
}