<nav class="navbar navbar-light navbar-expand-md bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mallaNavbar" aria-controls="mallaNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a id='goToHome' class="navbar-brand mb-0 text-right" href="#">Malla Interactiva <br class="d-block d-sm-none"> <span class="carrera"></span></a>
  
  <div class="collapse navbar-collapse navbar-expand-md " id="mallaNavbar">
    <div class="navbar-nav mr-auto">
      <a id='goToCalculator' class="nav-link" href="#">Calculadora Prioridad</a>
      <a id='goToGenerator' class="nav-link" href="#">Generadora Malla</a>
      <a class="d-none d-md-block nav-link dropdown-toggle" data-toggle="collapse" href="#" data-target="#carreras" aria-controls="carreras" aria-expanded="false" aria-label="Toggle navigation">
        Carreras
      </a>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-md-none" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Carreras
        </a>
        <div class="dropdown-menu" id="carreras2-nav" aria-labelledby="navbarDropdown">
        </div>
      </div>
      <a class="nav-link" data-toggle="modal" href="#" data-target="#contacto"><i class="far fa-envelope"></i> Contacto</div>
      </a>
  </div>
</nav>
<nav class="navbar py-0 navbar-light navbar-expand-md bg-light d-none d-md-block">
  <div class="collapse" id="carreras">
    <ul id="carreras1-nav" class="navbar navbar-nav">
    </ul>
  </div>
</nav>
