<nav class="navbar navbar-light justify-content-center text-md-center navbar-expand-lg bg-light">
  <div class="container-xl px-0 ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mallaNavbar" aria-controls="mallaNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a id='goToHome' rel="prefetch" class="navbar-brand mb-0 h1 text-right text-md-left" href="#">Malla Interactiva <br class="d-block d-sm-none"> <span class="carrera carrers"></span></a>
    <div class="collapse navbar-collapse navbar-expand-lg" id="mallaNavbar">
      <div class="navbar-nav mr-auto align-items-center">
        <a id='goToCalculator' class="nav-link" rel="prefetch" href="#">Calculadora Prioridad</a>
        <a id='goToGenerator' class="nav-link" rel="prefetch" href="#">Generadora Malla</a>
        <a class="d-none carrers d-lg-block nav-link dropdown-toggle" data-toggle="collapse" href="#" data-target="#carreras" aria-controls="carreras" aria-expanded="false" aria-label="Toggle navigation">
          Carreras
        </a>
        <div class="nav-item dropdown carrers">
          <a class="nav-link dropdown-toggle d-lg-none" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Carreras
          </a>
          <div  class="dropdown-menu" id="carreras2-nav" aria-labelledby="navbarDropdown">
          </div>
        </div>
        <a id='updateMallasForm' class="nav-link" target="_blank" referrerpolicy="origin" rel="noopener" href="https://docs.google.com/forms/d/e/1FAIpQLSc7im-tmzXlWhHYb5XmRhIMGTLQ5GUZj4haRq8iSECYsuXU8A/viewform?usp=sf_link">Actualizar mallas</a>
        <a id="contact" class="nav-link text-nowrap" href="#"><i class="far fa-envelope"></i> Contacto</a>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar py-0 navbar-light carrers navbar-expand-lg bg-light d-none d-lg-block">
  <div class="container">
    <div class="collapse" id="carreras">
      <ul id="carreras1-nav" class="navbar navbar-nav">
      </ul>
    </div>
  </div>

</nav>
